
*{
    margin: 0;
    padding: 0;
}
.header-section{
   background-color: rgb(247, 172, 183);
   background-position: center;
   background-size: cover;
   height: 80vh;
   width: 100%;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   justify-content: space-around;
   padding-left: 50px;
   padding-right: 50px;
}
.header-title{
    font-size: 50px;

}
.header-left-side{
    width: 400px;
    /* padding-top: 20px; */
}
.header-image{
    width: 400px;
    margin-top: 50px;
    margin-right: 120px;
}
.header-description, primary-description{
    width: 500px;
    padding-top: 25px;
    color: gray;
}
.btn-primary{
    width: 110px;
    padding: 13px;
    background-color:rgb(243, 83, 110);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.shop-btn{
   margin-top: 15px;
}

/* Delivery section style */
.delivery-img{
    width: 60px;
}
.delivery-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 180px;
    margin: auto;
    margin-top: 100px;
    padding-left: 50px ;
    padding-right: 50px;
    border: none;
    border-radius: 5px;
    background-color: gray;
}
.dlv-img-1{
   padding-left: 80px;
}
.dlv-img-2{
   padding-left: 70px;
}
.dlv-img-3{
   padding-left: 30px;
   /* padding-top: 30px; */
}
.deliver-title{
    padding-top: 20px;
}