
*{
    margin: 0;
    padding: 0;
}
.header-section{
   background-color: rgb(247, 172, 183);
   background-position: center;
   background-size: cover;
   height: 80vh;
   width: 100%;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   justify-content: space-around;
   padding-left: 50px;
   padding-right: 50px;
}
.header-title{
    font-size: 50px;

}
.header-left-side{
    width: 400px;
    /* padding-top: 20px; */
}
.header-image{
    width: 400px;
    margin-top: 50px;
    margin-right: 120px;
}
.header-description, primary-description{
    width: 500px;
    padding-top: 25px;
    color: gray;
}
.btn-primary{
    width: 110px;
    padding: 13px;
    background-color:rgb(243, 83, 110);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.shop-btn{
   margin-top: 15px;
}

/* Delivery section style */
.delivery-img{
    width: 60px;
}
.delivery-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 180px;
    margin: auto;
    margin-top: 0px;
    padding-left: 50px ;
    padding-right: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 209, 209);
}
.dlv-img-1{
   padding-left: 80px;
}
.dlv-img-2{
   padding-left: 70px;
}
.dlv-img-3{
   padding-left: 30px;
   /* padding-top: 30px; */
}
.deliver-title{
    padding-top: 20px;
}
/* Hot Deal section style */
.hot-deal-section{
    background-color: antiquewhite;
    height: 400px;
    width: 100%;
    margin-top: 100px ;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.hot-deal-img{
    width: 200px;
    padding-right: 300px;
}
.hot-text{
    width: 500px;
    padding-top: 25px;
    color: gray;
    text-align: center;
    
}
.sign-btn{
    margin-top: 20px;
}
.hot-title{
    font-size:30px;
}
.hot-left{
    padding-top: 70px;
}
/* Instagram section */

.instagram-section{
    text-align: center;
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.insta-img{
    width: 200px;
    padding-top: 25px;
}
/* .insta-box{
    margin-right: 30px;
} */
.insta-up{
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* display: flex; */

}
.insta-imgages{
    border: none;
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    /* margin-right: 20px; */
    /* padding-left: 20px; */
}
.primary-desc{
    width: 500px;
    margin-left: 380px;
    color: gray;
    /* text-align: center; */
    padding-top: 25px;   
}

/* Comment Section */

.comment-section{
    width: 70%;
    height: 280px;
    margin: auto;
    margin-bottom: 100px;
    background-image: url("Flower\ Asset/Rectangle 9.png");
    background-size: cover;
    /* background-color: aqua; */
    background-position: center;
    /* padding: 20px; */
    /* display: flex; */
    align-items: center;
    justify-content:center;
    
}
.comment-up{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}
.comment-down{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
.Email{
    height: 40px;
    width: 500px;
    border: none;
    border-radius: 5px;
    margin-right:  10px;
}
/* Footer Section */

footer{
    width: 100%;
    height: 250px;
    background-color: rgb(17, 17, 17);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}
.footer-title{
    color: white;
}
.footer-text{
    color:rgb(173, 163, 163);
    padding-top: 30px;
}
.cpr{
    padding-top: 20px;
}




/* Bonus Feature Section */
.Feature-section{
   height: 100vh;
   width: 100%;
   /* justify-content: space-around; */
   padding-top: 50px;
   padding-bottom: 0px;
   border: none;
   margin-bottom: 0px;
    
}
.feature-title-dv{
    /* display: flex; */
    justify-content: center;
    text-align: center;
    align-items: center;
}
.feature-boxs{
    width: 300px;
    height: 360px;
    background-color: bisque;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 200px 200px 0 0;
}
.flower-1{
    width: 200px;
    /* padding-bottom: 0px; */
    /* margin-bottom: 0px; */
    margin-top: 85px;
    margin-left: 40px;
}
.flowers-box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    gap: 20px;
    margin-top: 40px;
}
.flowr-name{
    margin-top: 20px;
    margin-left: 80px;
    text-decoration: underline;

}